{
    "presets": [
        "@babel/typescript",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11",
                    "chrome": "31",
                    "firefox": "39",
                    "opera": "18",
                    "edge": "12",
                    "safari": "9.1",
                    "android": "5",
                    "ios": "9"
                },
                "useBuiltIns": "usage",
                "corejs": {
                    "version": "3"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
